body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

button {
    background-color: aqua;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(129, 255, 255);
}

#galeria img {
    max-width: 100px;
    height: auto;
    margin: 5px;
}
